@page "/counter"
@page "/counter1/{Name}"
@page "/routecons/{Id:guid}"

@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;
@using Syncfusion.Blazor.Inputs;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject ProtectedSessionStorage storage
@inject NavigationManager navManager

<h1>Counter</h1>

<h1>Counter1 with param: @Name</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="QueryParams">Query Params</button>

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <SfUploader ID="UploadFiles" DropArea=".control-fluid">
            <UploaderEvents OnRemove="OnFileRemove"></UploaderEvents>
            <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save" RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>
        </SfUploader>
    </div>
</div>




<h3>Route Constraints Example</h3>


<h4>Id : @Id </h4>


<br />
<br />
<h1>session Storage</h1>

@if (showAlert)
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        @Text
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" @onclick="OnDismiss">
            <span aria-hidden="true">×</span>
        </button>
    </div>
}

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
    }
</style>


@code {
    private bool showAlert = false;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    private async Task OnDismiss()
    {
        showAlert = false;
        await storage.SetAsync("NewsAlert.showAlert", false);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var result = await storage.GetAsync<bool>("NewsAlert.showAlert");
        bool oldValue = showAlert;
        showAlert = result.Success ? result.Value : true;

        if (showAlert != oldValue)
        {
            StateHasChanged();
        }
    }

    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    public void OnFileRemove(RemovingEventArgs args)
    {
        args.PostRawFile = false;

    }
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        StringValues initCount;
        var uri = navManager.ToAbsoluteUri(navManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("initialCount", out initCount))
        {
            currentCount = Convert.ToInt32(initCount);
        }

    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void QueryParams()
    {
        var query = new Dictionary<string, string> {
            { "firstname", "Noor" },
            { "lastname", "deen" }
        };
        navManager.NavigateTo(QueryHelpers.AddQueryString("/anothereg", query));
    }

}





@*@using Syncfusion.Blazor.Grids

    <SfGrid ID="grid" EnablePersistence="true" AllowPaging="true" DataSource="@Orders">
        <GridPageSettings PageSize="8"></GridPageSettings>
        <GridColumns>
            <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" Width="100"></GridColumn>
            <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" Width="120"></GridColumn>
            <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" Format="d" Width="100"></GridColumn>
            <GridColumn Field=@nameof(Order.Freight) Format="C2" Width="120"></GridColumn>
        </GridColumns>
    </SfGrid>

    <ToDoList></ToDoList>

    @code {
        public List<Order> Orders { get; set; }

        protected override async Task OnInitializedAsync()
        {
            await base.OnInitializedAsync();
            Orders = Enumerable.Range(1, 25).Select(x => new Order()
            {
                OrderID = 1000 + x,
                CustomerID = (new string[] { "ALFKI", "ANANTR", "ANTON", "BLONP", "BOLID" })[new Random().Next(5)],
                Freight = 2.1 * x,
                OrderDate = DateTime.Now.AddDays(-x),
            }).ToList();
        }

        public class Order
        {
            public int? OrderID { get; set; }
            public string CustomerID { get; set; }
            public DateTime? OrderDate { get; set; }
            public double? Freight { get; set; }
        }
    }*@