@page "/jsinterop"

@inject IJSRuntime JSRuntime

<h3>JSInterop</h3>

<button @onclick=ButtonClicked>Perform interop</button>


@code
{
    private async Task ButtonClicked()
    {
        await JSRuntime.InvokeVoidAsync("alert", "Hello world");
    }
}