@page "/jsinterop"
@inject IJSRuntime JSRuntime

<h3>JSInterop</h3>

<button class="btn btn-success" @onclick=ButtonClicked>show alert</button>

<br />
<br />

<input @bind="question" />
<br />

<button class="btn btn-success" @onclick=ButtonClickedPrompt>show alert</button>

<div class="container">
    the answer is: <span id="answer"></span>
</div>

<h3>Get the random numbers</h3>
<div class="container">
    the answer is: <span id="randomNumbers"></span>
</div>

<button class="btn btn-dark" onclick="giveMeRandom(100)">Randomize</button>

@code
{
    async Task ButtonClicked()
    {

        await JSRuntime.InvokeVoidAsync(identifier: "createAlert");

    }

    string question = string.Empty;

    async Task ButtonClickedPrompt()
    {

        var response = await JSRuntime.InvokeAsync<string>(identifier: "createPrompt", question);
        await JSRuntime.InvokeVoidAsync(identifier: "setElement", "answer", response);
    }

    [JSInvokable]
    public static Task<int> GetRandomNumbers(int mxVal)
    {
        return Task.FromResult(new Random().Next(mxVal));
    }
}