@page "/sample"
@using Syncfusion.Blazor.Calendars
<style>
    .customDiv {
        padding: 10px;
        width: 100%;
    }
</style>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <img src="images/bethany.jpg" class="img-fluid w-100" />
                    </div>
                    <div class="col-9">
                        I have a phone object in C# that is returning (Home, work and phone Number)
                        I like to fill another object with this values that has List of Phones that has Number and Type. I write this code:
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@*flex*@

<div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">Flex item</div>
    <div class="p-2 bd-highlight">Flex item</div>
    <div class="p-2 bd-highlight">Third flex item</div>
</div>


<img src="images/bethany.jpg" class="rounded float-start img-fluid img-thumbnail" style="width: 200px; height: 200px;" alt="...">
<img src="images/bethany.jpg" class="rounded float-end img-fluid img-thumbnail" style="width: 200px; height: 200px;" alt="...">


<br />
<br />
<br />
<br />


<div class="input-group">
    <span class="input-group-text">First and last name</span>
    <div class="form-control">
        <SfDatePicker TValue="DateTime?" Placeholder='Choose a Date'CssClass="form-control" ></SfDatePicker>
    </div>
    <div class="form-control text-sm-center">
        <button type="button" class="btn btn-outline-primary btn-block">Clear Override Date</button>
    </div>
    <div class="form-control text-sm-center">
        <button type="button" class="btn btn-outline-primary">Use Override Date</button>
    </div>
</div>
