@page "/sample"

<style>
    .customDiv {
        padding: 10px;
        width: 100%;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="customDiv">
                <button class="btn btn-primary">Button 1</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="customDiv">
                <button class="btn btn-primary">Button 2</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="customDiv">
                <button class="btn btn-primary">Button 3</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="customDiv">
                <button class="btn btn-primary">Button 4</button>
            </div>
        </div>
    </div>
</div>